n8n/workflow.json
{
  "id": "hse-tarjeta-digital-whatsapp",
  "name": "HSE Tarjeta Digital — WhatsApp",
  "nodes": [
    {
      "id": "nodo-01",
      "name": "Webhook Twilio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "hse-tarjeta-digital-whatsapp",
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "nodo-02",
      "name": "ACK a Twilio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        180,
        300
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      }
    },
    {
      "id": "nodo-03",
      "name": "Preparar contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        300
      ],
      "parameters": {
        "jsCode": "// Nodo \"Preparar contexto\": normaliza el webhook de Twilio y anonimiza al remitente.\n// El número de teléfono NUNCA sigue viaje: solo su HMAC (mismo criterio que la tarjeta anónima).\n// También captura timestamp y ubicación si están disponibles.\nconst crypto = require('crypto');\n\nconst b = $input.first().json.body || {};\nconst from = b.From || ''; // ej: \"whatsapp:+549299XXXXXXX\"\n\nconst secret = $env.HASH_SECRET || 'cambiar-este-secreto';\nconst hash = crypto.createHmac('sha256', secret).update(from).digest('hex').slice(0, 32);\n\nconst numMedia = Number(b.NumMedia || 0);\nconst mediaType = b.MediaContentType0 || '';\nconst hasMedia = numMedia > 0 && mediaType.startsWith('image');\n// notas de voz de WhatsApp llegan como audio/ogg (opus); archivos: audio/mpeg, audio/mp4, audio/amr\nconst hasAudio = numMedia > 0 && mediaType.startsWith('audio');\n\n// Capturar timestamp de Twilio (formato Unix)\nconst twilioTimestamp = b.Timestamp || Math.floor(Date.now() / 1000).toString();\n\n// Capturar ubicación si el usuario la compartió\nconst latitud = b.Latitude ? parseFloat(b.Latitude) : null;\nconst longitud = b.Longitude ? parseFloat(b.Longitude) : null;\n\n// Twilio exige Basic Auth (SID:token) para descargar el media adjunto\nconst twilioAuth = 'Basic ' + Buffer.from(`${$env.TWILIO_SID}:${$env.TWILIO_TOKEN}`).toString('base64');\n\nreturn [{\n  json: {\n    hash,\n    // Destinatario TRANSITORIO para responder por la API REST (el webhook ya devolvió\n    // un ACK vacío; la respuesta real sale como mensaje nuevo). No se persiste nunca.\n    to: from,\n    fromBot: b.To || '',\n    hasMedia,\n    hasAudio,\n    mediaUrl: (hasMedia || hasAudio) ? b.MediaUrl0 : null,\n    mediaType,\n    text: (b.Body || '').trim(),\n    twilioAuth,\n    twilioTimestamp,\n    latitud,\n    longitud,\n  },\n}];"
      }
    },
    {
      "id": "nodo-04",
      "name": "Traer sesión",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_URL }}/api/sessions/{{ $json.hash }}",
        "options": {}
      }
    },
    {
      "id": "nodo-05",
      "name": "Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "jsCode": "// Nodo \"Router\": decide el camino mínimo. Toda la inteligencia conversacional vive\n// en el Orquestador (LLM). Caminos: foto (tarjeta), adjuntar_foto (evidencia post-folio),\n// audio, confirmación explícita de un resumen pendiente, u orquestador (todo el resto).\nconst ctx = $('Preparar contexto').first().json;\nlet session = $input.first().json.session || null;\nconst user = $input.first().json.user || { estado: 'activo', rechazos: 0 };\nconst t = (ctx.text || '').toLowerCase().trim();\n\nconst esConfirmacion = /^(ok|oka|okey|si|sí|dale|confirmo|listo|va|perfecto|correcto)\\b/.test(t);\n\n// Ventana de adjuntos post-folio: vigente hasta 10 min después de la última actividad.\n// Cada foto adjuntada la renueva; cualquier texto/audio la cierra (empieza charla nueva).\nconst VENTANA_FOTOS_MIN = 10;\nlet ventanaFotos = false;\nif (session && session.estado_flujo === 'awaiting_photos') {\n  const upd = new Date(String(session.updated_at || '').replace(' ', 'T') + 'Z').getTime();\n  ventanaFotos = Number.isFinite(upd) && (Date.now() - upd) / 60000 <= VENTANA_FOTOS_MIN;\n  if (!ctx.hasMedia || !ventanaFotos) session = null; // texto/audio o ventana vencida: conversación nueva\n}\n\nlet accion;\nif (user.estado === 'bloqueado_temporal') {\n  accion = 'bloqueado';                              // pausa anti-abuso: SIEMPRE se avisa, nunca silencio\n} else if (ctx.hasMedia && ventanaFotos) {\n  accion = 'adjuntar_foto';                          // evidencia para el folio recién registrado\n} else if (ctx.hasMedia) {\n  accion = 'foto';                                   // Flujo A: foto de la tarjeta de papel\n} else if (ctx.hasAudio) {\n  accion = 'audio';                                  // Flujo C: nota de voz → Whisper → orquestador\n} else if (session && session.estado_flujo === 'awaiting_confirm' && esConfirmacion) {\n  accion = 'confirmar';                              // el operario aprobó el resumen\n} else {\n  accion = 'orquestador';                            // TODO lo demás lo maneja el LLM\n}\n\nreturn [{ json: { ...ctx, session, user, accion } }];"
      }
    },
    {
      "id": "nodo-06",
      "name": "Switch Acción",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "foto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "foto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirmar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "adjuntar_foto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "adjuntar_foto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "bloqueado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bloqueado"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "nodo-07",
      "name": "Mensaje bloqueado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        990
      ],
      "parameters": {
        "jsCode": "// Nodo \"Mensaje bloqueado\": el usuario está en pausa anti-abuso. La regla de oro:\n// NUNCA silencio — se le informa el estado y hasta cuándo, sin gastar una llamada al LLM.\nconst ctx = $input.first().json;\nconst u = ctx.user || {};\n\nconst tz = $env.GENERIC_TIMEZONE || 'America/Argentina/Buenos_Aires';\nconst hora = u.desbloqueado_en\n  ? new Date(String(u.desbloqueado_en).replace(' ', 'T') + 'Z')\n      .toLocaleTimeString('es-AR', { timeZone: tz, hour: '2-digit', minute: '2-digit', hour12: false })\n  : null;\n\nreturn [{ json: { persist: {\n  reporter_hash: ctx.hash,\n  reply: `🚫 La recepción de tus reportes está *pausada${hora ? ` hasta las ${hora}` : ' temporalmente'}* ` +\n    'porque los últimos mensajes no parecían observaciones de seguridad.\\n\\n' +\n    'El canal funciona correctamente — pasada la pausa podés volver a reportar con normalidad. ' +\n    'Si creés que es un error, hablá con tu supervisor de HSE.',\n} } }];"
      }
    },
    {
      "id": "nodo-08",
      "name": "Descargar foto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        0
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "={{ $json.mediaUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.twilioAuth }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "nodo-09",
      "name": "Foto a base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "parameters": {
        "jsCode": "// Nodo \"Foto a base64\": toma el binario descargado de Twilio y arma el pedido\n// al LLM de visión (Groq, API compatible con OpenAI) con el prompt de extracción.\nconst PROMPT_EXTRACCION = \"Sos el asistente digital del departamento de HSE de una empresa de servicios petroleros.\\nVas a recibir la FOTO de una \\\"Tarjeta de Observaciones\\\" (formulario POSS016-F1) completada a mano en el campo. La foto puede tener mala letra, arrugas, poca luz, o estar sucia con tierra, barro o grasa. Leela con criterio, pero NO inventes lo que no se ve.\\n\\nTu tarea: leer la tarjeta y extraer los datos a JSON, informando honestamente tu nivel de certeza.\\n\\n## Estructura de la tarjeta\\nEn el frente hay: Servicio/Obra, Lugar, Fecha, Observación de Personal de (SIMA S.A. o Contratista), N° de Pers., una grilla de categorías numeradas (1 a 11) con sub-ítems (a, b, c...), y una referencia de tipo con tres casillas: \\\"Acto Inseguro\\\", \\\"Acto Seguro\\\", \\\"No Audita\\\".\\nEn el dorso hay dos campos de texto libre: \\\"Observación / Reconocimiento\\\" (qué vio) y \\\"Acciones Correctivas Realizadas\\\" (qué se hizo), cada uno con su número de ítem.\\n\\n## CÓMO INTERPRETAR LAS MARCAS (muy importante)\\nLa FORMA del símbolo con que se marca define el TIPO de observación:\\n- Una **cruz / equis (✗ o X)**  → tipo = \\\"inseguro\\\" (Acto Inseguro).\\n- Un **tilde / visto / check (✓)** → tipo = \\\"seguro\\\" (Acto Seguro).\\n- Una **barra en diagonal ( ╱ o / )** → tipo = \\\"no_audita\\\".\\nEsto aplica tanto a las tres casillas de referencia como a las marcas dentro de la grilla de categorías.\\nEl sub-ítem marcado en la grilla indica la categoría y el sub-ítem; la forma de esa marca confirma el tipo.\\nSi la marca de tipo en las casillas y la forma de la marca en la grilla se contradicen, anotalo en \\\"dudas\\\" y elegí la que se vea más clara.\\n\\n## MANEJO DE AMBIGÜEDAD (no adivines)\\n- Si una marca es **débil, doble, tachada, incompleta o ambigua**, NO la fuerces: dejá el campo en null y describí la duda en \\\"dudas\\\".\\n- Si un campo está **vacío o ilegible**, dejalo en null.\\n- Si la tarjeta está **en blanco, no es una tarjeta de observaciones, o es totalmente ilegible** (muy sucia, borrosa, cortada), poné \\\"tarjeta_legible\\\": false y explicá por qué en \\\"dudas\\\".\\n- Si la categoría no está marcada pero se deduce claramente del texto, asignala e indicá en \\\"dudas\\\" que fue inferida.\\n\\nTaxonomía de la Tarjeta de Observaciones POSS016-F1 (categoría: sub-ítems):\\n1. Reacciones de las Personas: a) Dejan el sitio b) Interrumpen sus tareas c) Reorganizan el trabajo / cambian de posición d) Aplican precauciones e) Cambian de herramientas\\n2. Posiciones de las Personas: a) Absorber-inhalar sustancias químicas b) Golpea contra / golpeado por c) Atrapado dentro, sobre o entre d) Caídas e) Sobreesfuerzo\\n3. Equipos de Protección Personal: a) Cabeza b) Oídos y ojos c) Cara y aparato respiratorio d) Manos y brazos e) Pies y piernas f) Protección contra caídas g) Protección contra incendios h) Indumentaria de trabajo\\n4. Herramientas y Equipos: a) Inadecuados b) Defectuosos o inseguros c) Usados incorrectamente\\n5. Procedimientos: a) No existen b) No se respetan c) No se comprenden d) No son adecuados para el trabajo\\n6. Orden y Aseo: a) Estándares inadecuados b) Bancos de trabajo y cajas de herramientas c) Corredores, pasillos, oficinas y comedores d) Almacenamiento de materiales\\n7. Vehicular: a) Acto inseguro b) Condición insegura\\n8. Ambiente: a) Clasificación de residuos b) Fugas - derrames - emisiones c) Uso de recurso natural d) Condición climática insegura\\n9. Productos Químicos: a) Identificación de productos químicos b) Hojas de seguridad\\n10. Instalaciones: a) Inexistentes - defectuosas - inseguras\\n11. Otros\\n\\nInterpretá el texto manuscrito con criterio (jerga de campo petrolero argentino).\\n\\nRespondé ÚNICAMENTE con un objeto JSON válido (sin texto adicional, sin markdown) con esta forma exacta:\\n{\\n  \\\"servicio_obra\\\": \\\"string o null\\\",\\n  \\\"lugar\\\": \\\"string o null (sector/locación donde se observó)\\\",\\n  \\\"fecha\\\": \\\"YYYY-MM-DD o null\\\",\\n  \\\"tipo\\\": \\\"inseguro\\\" | \\\"seguro\\\" | \\\"no_audita\\\",\\n  \\\"personal\\\": \\\"propio\\\" | \\\"contratista\\\" | null,\\n  \\\"num_personas\\\": number | null,\\n  \\\"categoria\\\": number 1-11 | null,\\n  \\\"subitem\\\": \\\"letra del sub-ítem (a-h) o null\\\",\\n  \\\"observacion\\\": \\\"string o null (qué se observó, redactado claro)\\\",\\n  \\\"acciones_correctivas\\\": \\\"string o null (qué se hizo en el momento)\\\",\\n  \\\"severidad\\\": number 1-4\\n}\\nCriterio de severidad (potencial de daño, no el daño ocurrido):\\n1 = leve / buena práctica; 2 = moderada; 3 = seria (podía causar lesión); 4 = crítica / near-miss (podía causar lesión grave o fatalidad).\\nSi el mensaje describe un acto SEGURO o reconocimiento, tipo=\\\"seguro\\\" y severidad=1.\\nNo inventes datos: si algo no está en la entrada, usá null.\\n\\nSi estás leyendo una FOTO de una tarjeta, agregá además estos campos:\\n  \\\"tarjeta_legible\\\": true | false,   // false si está en blanco, no es una tarjeta, o es ilegible\\n  \\\"confianza\\\": number 0.0-1.0,        // qué tan seguro estás de la lectura global\\n  \\\"dudas\\\": [\\\"string\\\"]                 // lista de marcas/campos ambiguos, dobles, débiles, incompletos o inferidos; [] si no hay\\nSé honesto con \\\"confianza\\\" y \\\"dudas\\\": es mejor marcar una duda que adivinar.\";\n\nconst ctx = $('Router').first().json;\n\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) { /* descarga fallida */ }\nif (!buf) {\n  // sin imagen no hay nada que extraer: el pedido inválido hace que \"Armar respuesta\"\n  // conteste su fallback amable (nunca silencio)\n  return [{ json: { ...ctx, fotoB64: null, groqBody: {} } }];\n}\nconst fotoB64 = buf.toString('base64');\n\nconst groqBody = {\n  model: $env.GROQ_VISION_MODEL || 'meta-llama/llama-4-scout-17b-16e-instruct',\n  temperature: 0.2,\n  response_format: { type: 'json_object' },\n  messages: [{\n    role: 'user',\n    content: [\n      { type: 'text', text: PROMPT_EXTRACCION },\n      { type: 'image_url', image_url: { url: `data:${ctx.mediaType || 'image/jpeg'};base64,${fotoB64}` } },\n    ],\n  }],\n};\n\nreturn [{ json: { ...ctx, fotoB64, groqBody } }];"
      }
    },
    {
      "id": "nodo-10",
      "name": "LLM visión",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        0
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.groqBody) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "nodo-11",
      "name": "Armar respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "parameters": {
        "jsCode": "// Nodo \"Armar respuesta\": procesa la salida del LLM de visión (flujo foto), normaliza,\n// detecta datos faltantes y arma la respuesta al operador + el payload de persistencia.\nconst ctx = $('Foto a base64').first().json;\n\nconst CATEGORIAS = {\n  1: 'Reacciones de las Personas', 2: 'Posiciones de las Personas',\n  3: 'Equipos de Protección Personal', 4: 'Herramientas y Equipos',\n  5: 'Procedimientos', 6: 'Orden y Aseo', 7: 'Vehicular', 8: 'Ambiente',\n  9: 'Productos Químicos', 10: 'Instalaciones', 11: 'Otros',\n};\nconst TIPO = { inseguro: 'Acto Inseguro', seguro: 'Acto Seguro', no_audita: 'No Audita' };\nconst SEMAFORO = { rojo: '🔴 Crítica', amarillo: '🟡 Atención', verde: '🟢 Leve' };\n\n// --- parsear la salida del LLM (tolerante a fences de markdown) ---\nlet datos = null;\ntry {\n  const content = $input.first().json.choices[0].message.content;\n  datos = JSON.parse(content.replace(/```json|```/g, '').trim());\n} catch (e) { /* LLM caído o respuesta inválida */ }\n\nif (!datos) {\n  return [{ json: { persist: {\n    reporter_hash: ctx.hash,\n    reply: '😕 No pude procesar tu mensaje en este momento. Probá de nuevo en unos minutos, o entregá la tarjeta en papel como siempre.',\n  } } }];\n}\n\n// --- Legibilidad / confianza de la lectura de la foto ---\nconst legible = datos.tarjeta_legible !== false;\nconst confianza = typeof datos.confianza === 'number' ? datos.confianza : 1;\nconst dudas = Array.isArray(datos.dudas) ? datos.dudas.filter(Boolean) : [];\n\n// Si la tarjeta está en blanco, no es una tarjeta o es ilegible: pedir reenvío o texto.\nif (!legible || confianza < 0.35) {\n  const motivo = dudas.length ? ` (${dudas.slice(0, 2).join('; ')})` : '';\n  return [{ json: { persist: {\n    reporter_hash: ctx.hash,\n    session: null,\n    reply: '📸 No pude leer bien la tarjeta' + motivo + '.\\n\\n' +\n      'Probá sacarle una foto más nítida, con buena luz y sin sombras/suciedad, o *contame por texto* qué observaste y dónde.',\n  } } }];\n}\n\n// --- ¿Ya había un borrador (ej. mandó el frente y ahora el dorso)? Consolidar ---\n// Lo ya cargado gana; la foto nueva solo completa los campos vacíos.\nconst previos = (ctx.session && ctx.session.datos) || null;\nif (previos) {\n  for (const [k, v] of Object.entries(previos)) {\n    if (k === '_historial') continue;\n    if ((datos[k] == null || datos[k] === '') && v != null) datos[k] = v;\n  }\n  if (previos._historial) datos._historial = previos._historial;\n}\n\n// --- Integrar metadata de Twilio ---\nif (ctx.twilioTimestamp) datos.timestamp_mensaje = ctx.twilioTimestamp;\nif (ctx.latitud) datos.latitud = ctx.latitud;\nif (ctx.longitud) datos.longitud = ctx.longitud;\n\n// --- normalizar + prioridad determinística (el semáforo no se delega al LLM) ---\ndatos.tipo = ['inseguro', 'seguro', 'no_audita'].includes(datos.tipo) ? datos.tipo : 'inseguro';\ndatos.severidad = Math.min(4, Math.max(1, Number(datos.severidad) || 1));\ndatos.prioridad = datos.tipo === 'seguro' ? 'verde'\n  : datos.severidad >= 3 ? 'rojo'\n  : datos.severidad === 2 ? 'amarillo' : 'verde';\nconst cat = Number(datos.categoria);\ndatos.categoria = cat >= 1 && cat <= 11 ? cat : null;\ndatos.fecha_obs = datos.fecha_obs || datos.fecha || null;\ndelete datos.fecha;\ndatos.origen = 'foto';\n// no persistir campos auxiliares de lectura\ndelete datos.tarjeta_legible;\ndelete datos.confianza;\ndelete datos.dudas;\n\n// --- ¿falta algo crítico? repreguntar; el orquestador continúa la charla ---\nconst faltan = [];\nif (!datos.observacion) faltan.push('*qué observaste* (contame brevemente)');\nif (!datos.lugar) faltan.push('*dónde fue* (sector / locación)');\n\nlet session, reply;\nif (faltan.length) {\n  // dejamos el borrador en sesión: si el operario responde por texto, lo toma el orquestador\n  session = { estado_flujo: 'awaiting_orchestrator', datos: { ...datos, _historial: [] } };\n  reply = '📸 Recibí tu tarjeta, ¡gracias! Me falta un dato: ' + faltan.join(' y ') + '.';\n} else {\n  session = { estado_flujo: 'awaiting_confirm', datos };\n  const lineas = [\n    '📋 *Resumen de tu observación*',\n    datos.fecha_obs ? `📅 Fecha: ${datos.fecha_obs}` : '📅 Fecha: (sin fecha en la tarjeta — se usa la de carga)',\n    `📍 Lugar: ${datos.lugar}`,\n    datos.servicio_obra ? `🏗 Servicio/Obra: ${datos.servicio_obra}` : null,\n    `🏷 Tipo: ${TIPO[datos.tipo]}`,\n    datos.categoria ? `📂 Categoría: ${datos.categoria} · ${CATEGORIAS[datos.categoria]}${datos.subitem ? ` (${datos.subitem})` : ''}` : null,\n    `📝 ${datos.observacion}`,\n    datos.acciones_correctivas ? `🛠 Acción inmediata: ${datos.acciones_correctivas}` : '🛠 Acción inmediata: (sin registrar)',\n    `🚦 Prioridad: ${SEMAFORO[datos.prioridad]}`,\n    // si el modelo tuvo dudas al leer, las mostramos para que el operario las verifique\n    dudas.length ? '' : null,\n    dudas.length ? `⚠️ Verificá esto que no leí con certeza: ${dudas.slice(0, 3).join('; ')}` : null,\n    '',\n    'Respondé *OK* para confirmar, o escribí lo que haya que corregir.',\n  ].filter((l) => l !== null);\n  reply = lineas.join('\\n');\n}\n\nconst persist = { reporter_hash: ctx.hash, session, reply };\nif (ctx.fotoB64) {          // la foto se guarda una sola vez, al extraer\n  persist.foto_base64 = ctx.fotoB64;\n  persist.foto_mime = ctx.mediaType || 'image/jpeg';\n}\n\nreturn [{ json: { persist } }];"
      }
    },
    {
      "id": "nodo-12",
      "name": "Descargar audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        150
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "={{ $json.mediaUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.twilioAuth }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "nodo-13",
      "name": "Transcribir audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        150
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "={{ $env.GROQ_WHISPER_MODEL || 'whisper-large-v3' }}"
            },
            {
              "name": "language",
              "value": "es"
            },
            {
              "name": "response_format",
              "value": "json"
            },
            {
              "name": "prompt",
              "value": "Observación de seguridad en yacimiento petrolero. Vocabulario: EPP, casco, arnés, retroexcavadora, locación, near-miss, acto inseguro, tarjeta de observaciones, contratista, izaje, boca de pozo, batería, playa de tanques, pañol, equipo de torre, pulling."
            }
          ]
        },
        "options": {
          "timeout": 90000
        }
      }
    },
    {
      "id": "nodo-14",
      "name": "Procesar transcripción",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        150
      ],
      "parameters": {
        "jsCode": "// Nodo \"Procesar transcripción\": toma la salida de Whisper (Groq) y decide:\n//  - transcripción vacía o error → respuesta de fallback directa (la conversación sigue viva)\n//  - transcripción OK → el texto entra al Orquestador como si el operario lo hubiera escrito\n// Si el audio venía con texto (caption), se concatenan.\nconst ctx = $('Router').first().json;\nconst resp = $input.first().json;\n\nconst transcripcion = (resp && typeof resp.text === 'string') ? resp.text.trim() : '';\n\nif (!transcripcion) {\n  return [{ json: { entendido: 'no', persist: {\n    reporter_hash: ctx.hash,\n    reply: '🎙️😕 No pude entender el audio. ¿Podés reenviarlo (más cerca del micrófono) o escribirlo en un mensaje?',\n  } } }];\n}\n\nconst caption = (ctx.text || '').trim();\nconst texto = caption ? `${caption}\\n${transcripcion}` : transcripcion;\n\nreturn [{ json: { ...ctx, text: texto, transcripcion, entendido: 'si' } }];"
      }
    },
    {
      "id": "nodo-15",
      "name": "Descargar adjunto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        840
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "={{ $json.mediaUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.twilioAuth }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "nodo-16",
      "name": "Adjuntar foto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        840
      ],
      "parameters": {
        "jsCode": "// Nodo \"Adjuntar foto\": la observación ya tiene folio y el operario mandó una foto\n// dentro de la ventana de adjuntos. Se agrega como evidencia y se renueva la ventana.\nconst ctx = $('Router').first().json;\nconst info = (ctx.session && ctx.session.datos) || {};\n\nlet buf = null;\ntry { buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) { /* descarga fallida */ }\nif (!buf) {\n  return [{ json: { persist: {\n    reporter_hash: ctx.hash,\n    session: { estado_flujo: 'awaiting_photos', datos: info }, // la ventana sigue abierta\n    reply: '😕 No pude descargar esa foto. ¿La reenviás?',\n  } } }];\n}\nconst n = (Number(info.fotos_count) || 0) + 1;\n\nreturn [{ json: { persist: {\n  reporter_hash: ctx.hash,\n  foto_base64: buf.toString('base64'),\n  foto_mime: ctx.mediaType || 'image/jpeg',\n  foto_para: info.observacion_id,\n  session: { estado_flujo: 'awaiting_photos', datos: { ...info, fotos_count: n } },\n  reply: `📎 Foto ${n} agregada al folio *${info.folio || ''}*. Mandá más si querés, o seguí con lo tuyo. 👍`,\n} } }];"
      }
    },
    {
      "id": "nodo-17",
      "name": "¿Se entendió?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        150
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.entendido }}",
              "rightValue": "si",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "nodo-18",
      "name": "Orquestador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "// Nodo \"Orquestador\": el cerebro conversacional. En cada mensaje arma el pedido al LLM\n// incluyendo el historial de la charla y los datos ya recolectados, para que el modelo\n// decida de forma natural si preguntar, confirmar o rechazar. Reemplaza la lógica rígida.\nconst PROMPT_ORQUESTADOR = \"Sos el asistente digital de HSE (Seguridad, Salud y Medio Ambiente) de una empresa de servicios petroleros en Argentina. Conversás por WhatsApp con operarios de campo para registrar observaciones de seguridad (equivalente a la \\\"Tarjeta de Observaciones\\\" en papel).\\n\\nTu trabajo es CONDUCIR la conversación de forma natural, humana y breve — como lo haría un buen supervisor de seguridad: entendés lo que la persona te quiere decir en lenguaje coloquial y con jerga petrolera, y le hacés las preguntas justas para completar el reporte. NO sos un formulario rígido.\\n\\n## Cómo trabajás\\n\\nEn cada mensaje recibís:\\n- El mensaje actual del operario.\\n- El historial de la conversación.\\n- Los datos que ya venís recolectando (pueden estar incompletos).\\n\\nY decidís UNA de tres acciones:\\n\\n1. **preguntar** — todavía falta información esencial o complementaria. Hacé UNA sola pregunta, corta y natural, sobre lo más importante que falte. Nunca dispares varias preguntas juntas.\\n2. **confirmar** — ya tenés lo esencial Y recorriste los datos complementarios (preguntados o resueltos desde el relato). Armá un cierre y pedí confirmación.\\n3. **rechazar** — el mensaje NO es una observación de seguridad real (broma, insulto a un compañero, tema ajeno al trabajo, spam). Rechazá con amabilidad y sin ofender.\\n\\n## Datos ESENCIALES (primero, sin esto no hay reporte)\\n- **observacion**: qué se vio / qué pasó (obligatorio).\\n- **lugar**: sector, zona o locación donde ocurrió (obligatorio).\\n\\n## Datos COMPLEMENTARIOS (después de los esenciales, UNO por vez y EN ESTE ORDEN)\\nAntes de confirmar, recorré estos tres. Si alguno ya surgió del relato o del historial, NO lo vuelvas a preguntar: saltealo.\\n\\n1. **fecha_obs**: preguntá «¿Esto ocurrió recién o querés indicar fecha y hora?».\\n   - Si responde \\\"ahora\\\", \\\"recién\\\", \\\"hoy\\\" o similar → poné \\\"ahora\\\" (el sistema usa la fecha de carga).\\n   - Si da una fecha/hora (incluso relativa: \\\"ayer a la tarde\\\", \\\"el martes\\\", \\\"hace dos horas\\\") → resolvela usando la fecha y hora actual que te doy más abajo, formato \\\"YYYY-MM-DD HH:MM\\\" (u \\\"YYYY-MM-DD\\\" si no hay hora).\\n2. **servicio_obra**: preguntá en qué servicio u obra fue, sugiriendo ejemplos: Perforación Pozo A, Extracción Campo Centro, Mantenimiento Plataforma, Logística Base, u Otros.\\n   - Si no lo sabe o no quiere decirlo → poné exactamente \\\"No indicado\\\" (nunca lo dejes en null después de preguntar).\\n3. **acciones_correctivas**: preguntá «¿Se tomó alguna acción en el momento? Contámela brevemente». Preguntala SIEMPRE, también en actos seguros.\\n   - Si responde que no se hizo nada → poné exactamente \\\"Sin acciones en el momento\\\".\\n\\n## Personas involucradas (NUNCA lo preguntes de entrada — inferilo del relato)\\n- **personal**: si el relato menciona contratistas → \\\"contratista\\\"; si son compañeros/cuadrilla propia → \\\"propio\\\"; si no surge → null. NUNCA preguntes \\\"¿de quién era el personal?\\\".\\n- **num_personas**: si el relato involucra UNA persona (o se sobreentiende una) → 1. Si es una condición sin personas (equipo defectuoso, instalación insegura) → null. ÚNICO caso en que se pregunta: el relato menciona VARIAS personas sin número (\\\"unos compañeros\\\", \\\"la cuadrilla\\\") → preguntá una sola vez «¿Cuántas personas eran, aproximadamente?»; si no sabe, dejá null.\\n\\n## Clasificación AUTOMÁTICA (NUNCA se le pregunta al operario — la inferís vos)\\nAntes de confirmar, SIEMPRE completá, deduciéndolos de la descripción:\\n- **tipo**: \\\"inseguro\\\" (acto/condición insegura), \\\"seguro\\\" (buena práctica/reconocimiento) o \\\"no_audita\\\".\\n- **categoria** (1-11): elegí SIEMPRE la más adecuada de la taxonomía. NUNCA la dejes en null si hay una observación; si dudás, usá 11 (Otros).\\n- **subitem** (a-h): si aplica, según la taxonomía.\\n- **severidad** (1-4): estimá el POTENCIAL de daño, no el daño ocurrido:\\n  1 leve/buena práctica; 2 moderada; 3 seria (podía causar lesión); 4 crítica/near-miss (lesión grave o fatalidad).\\n  Ejemplos de criterio: fuga/derrame de líquido o químico desconocido, olor/fuga de gas, trabajo en altura sin\\n  arnés, punto de atrapamiento, o sustancias peligrosas → severidad 3 o 4. No subestimes un peligro real.\\n\\nTaxonomía de la Tarjeta de Observaciones POSS016-F1 (categoría: sub-ítems):\\n1. Reacciones de las Personas: a) Dejan el sitio b) Interrumpen sus tareas c) Reorganizan el trabajo / cambian de posición d) Aplican precauciones e) Cambian de herramientas\\n2. Posiciones de las Personas: a) Absorber-inhalar sustancias químicas b) Golpea contra / golpeado por c) Atrapado dentro, sobre o entre d) Caídas e) Sobreesfuerzo\\n3. Equipos de Protección Personal: a) Cabeza b) Oídos y ojos c) Cara y aparato respiratorio d) Manos y brazos e) Pies y piernas f) Protección contra caídas g) Protección contra incendios h) Indumentaria de trabajo\\n4. Herramientas y Equipos: a) Inadecuados b) Defectuosos o inseguros c) Usados incorrectamente\\n5. Procedimientos: a) No existen b) No se respetan c) No se comprenden d) No son adecuados para el trabajo\\n6. Orden y Aseo: a) Estándares inadecuados b) Bancos de trabajo y cajas de herramientas c) Corredores, pasillos, oficinas y comedores d) Almacenamiento de materiales\\n7. Vehicular: a) Acto inseguro b) Condición insegura\\n8. Ambiente: a) Clasificación de residuos b) Fugas - derrames - emisiones c) Uso de recurso natural d) Condición climática insegura\\n9. Productos Químicos: a) Identificación de productos químicos b) Hojas de seguridad\\n10. Instalaciones: a) Inexistentes - defectuosas - inseguras\\n11. Otros\\n\\n## Reglas de conducta\\n- Tono cálido, directo y respetuoso. Frases cortas. Cero burocracia.\\n- El operario muchas veces no entiende, no está capacitado o no quiere entender: guialo con paciencia y ejemplos concretos.\\n- Si la respuesta es vaga (ej: \\\"en mi casa\\\", \\\"por ahí\\\", \\\"no sé\\\"), repreguntá con ejemplos hasta obtener algo útil, sin tratarlo de tonto.\\n- Si es un saludo o \\\"quiero hacer una denuncia\\\" sin contenido, explicá brevemente y preguntá QUÉ observó.\\n- No inventes datos. Lo que no sepas, dejalo en null.\\n- La severidad y la prioridad las calcula el sistema; vos solo estimás severidad como apoyo.\\n\\n## Detección de contenido inválido (accion=\\\"rechazar\\\")\\nRechazá si el mensaje es claramente:\\n- Una broma (ej: \\\"denuncio que Martínez se tiró un gas/pedo\\\", chistes de fútbol, \\\"es pecho frío por ser de River\\\").\\n- Un insulto o ataque personal (\\\"Fulano es un inútil\\\").\\n- Ajeno a seguridad laboral (política, deportes, temas personales).\\n- Spam o prueba sin sentido.\\n\\nOJO con la ambigüedad del lenguaje: \\\"tirarse un gas / un pedo\\\" es una broma de flatulencia → RECHAZAR.\\nPero \\\"olor a gas\\\", \\\"fuga de gas\\\", \\\"venteo de gas\\\" es un peligro real → tratar en serio.\\nSi detectás humor, doble sentido o burla hacia una persona, rechazá con amabilidad y sin seguir el chiste.\\nAnte la duda razonable de que sea un incidente real, NO rechaces: preguntá para aclarar.\\n\\n## Formato de salida (OBLIGATORIO)\\nRespondé ÚNICAMENTE con un objeto JSON válido, sin markdown ni texto extra:\\n{\\n  \\\"accion\\\": \\\"preguntar\\\" | \\\"confirmar\\\" | \\\"rechazar\\\",\\n  \\\"mensaje\\\": \\\"texto natural para enviar al operario por WhatsApp\\\",\\n  \\\"datos\\\": {\\n    \\\"observacion\\\": \\\"string o null\\\",\\n    \\\"lugar\\\": \\\"string o null\\\",\\n    \\\"fecha_obs\\\": \\\"\\\\\\\"YYYY-MM-DD HH:MM\\\\\\\" | \\\\\\\"YYYY-MM-DD\\\\\\\" | \\\\\\\"ahora\\\\\\\" | null\\\",\\n    \\\"servicio_obra\\\": \\\"string o null\\\",\\n    \\\"tipo\\\": \\\"inseguro\\\" | \\\"seguro\\\" | \\\"no_audita\\\" | null,\\n    \\\"personal\\\": \\\"propio\\\" | \\\"contratista\\\" | null,\\n    \\\"num_personas\\\": number | null,\\n    \\\"categoria\\\": number 1-11 | null,\\n    \\\"subitem\\\": \\\"a-h o null\\\",\\n    \\\"acciones_correctivas\\\": \\\"string o null\\\",\\n    \\\"severidad\\\": number 1-4 | null\\n  }\\n}\\n\\nEn \\\"datos\\\" incluí SIEMPRE todo lo que sepas hasta el momento (acumulado del historial + lo nuevo), no solo lo del último mensaje.\\nCuando accion=\\\"confirmar\\\", el campo \\\"mensaje\\\" puede ser un cierre corto; el sistema arma el resumen final con semáforo.\";\n\n// Leer del Router (ya trae la sesión cargada); si el mensaje fue una nota de voz,\n// el contexto llega desde \"Procesar transcripción\" con el texto transcripto.\nlet ctx;\ntry { ctx = $('Procesar transcripción').first().json; }\ncatch (e) { ctx = $('Router').first().json; }\nconst session = ctx.session || null;\n\n// Recuperar datos acumulados e historial de la sesión (si existe)\nconst datosPrevios = (session && session.datos) ? { ...session.datos } : {};\nconst historial = Array.isArray(datosPrevios._historial) ? datosPrevios._historial : [];\n\n// No mandamos el historial interno como \"dato\" al modelo\nconst datosLimpios = { ...datosPrevios };\ndelete datosLimpios._historial;\n\n// Fecha y hora actual (huso del yacimiento): sin esto el modelo no puede resolver\n// respuestas como \"ayer a la tarde\" o \"hace dos horas\" a una fecha concreta.\nconst tz = $env.GENERIC_TIMEZONE || 'America/Argentina/Buenos_Aires';\nconst ahora = new Date().toLocaleString('es-AR', {\n  timeZone: tz, weekday: 'long', year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit', hour12: false,\n});\n\n// Contexto del estado actual para el system prompt\nconst systemContent = PROMPT_ORQUESTADOR +\n  `\\n\\n## Fecha y hora actual\\n${ahora} (huso ${tz})` +\n  `\\n\\n## Datos ya recolectados hasta ahora\\n` +\n  JSON.stringify(datosLimpios, null, 2) +\n  (ctx.transcripcion\n    ? '\\n\\nNota: el mensaje actual proviene de un AUDIO transcripto automáticamente; puede traer errores de reconocimiento (nombres de lugares, números). Interpretalo con criterio.'\n    : '') +\n  (ctx.user && ctx.user.rechazos > 0\n    ? `\\n\\n## Antecedentes del usuario\\nTiene ${ctx.user.rechazos} rechazo(s) reciente(s) por contenido no válido. Si este mensaje tampoco parece una observación de seguridad real, rechazá directamente, sin re-entrevistar ni seguirle la corriente.`\n    : '');\n\n// Armar los mensajes: system + historial + mensaje actual\nconst messages = [{ role: 'system', content: systemContent }];\nfor (const turno of historial) {\n  if (turno && turno.role && turno.content) {\n    messages.push({ role: turno.role, content: turno.content });\n  }\n}\nmessages.push({ role: 'user', content: ctx.text || '' });\n\nconst groqBody = {\n  model: $env.GROQ_TEXT_MODEL || 'llama-3.3-70b-versatile',\n  temperature: 0.3,\n  response_format: { type: 'json_object' },\n  messages,\n};\n\nreturn [{ json: { ...ctx, session, datosPrevios: datosLimpios, historial, groqBody } }];"
      }
    },
    {
      "id": "nodo-19",
      "name": "LLM orquestador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.groqBody) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "nodo-20",
      "name": "Procesar orquestador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ],
      "parameters": {
        "jsCode": "// Nodo \"Procesar orquestador\": interpreta la decisión del LLM (preguntar/confirmar/rechazar),\n// arma la respuesta al operario, actualiza la sesión con el historial y prepara la persistencia.\nconst ctx = $('Orquestador').first().json;\n\nconst CATEGORIAS = {\n  1: 'Reacciones de las Personas', 2: 'Posiciones de las Personas',\n  3: 'Equipos de Protección Personal', 4: 'Herramientas y Equipos',\n  5: 'Procedimientos', 6: 'Orden y Aseo', 7: 'Vehicular', 8: 'Ambiente',\n  9: 'Productos Químicos', 10: 'Instalaciones', 11: 'Otros',\n};\nconst TIPO = { inseguro: 'Acto Inseguro', seguro: 'Acto Seguro', no_audita: 'No Audita' };\nconst SEMAFORO = { rojo: '🔴 Crítica', amarillo: '🟡 Atención', verde: '🟢 Leve' };\n\n// --- parsear salida del LLM (tolerante a fences / respuesta inválida) ---\nlet out = null;\ntry {\n  const content = $input.first().json.choices[0].message.content;\n  out = JSON.parse(content.replace(/```json|```/g, '').trim());\n} catch (e) { /* LLM caído o JSON inválido */ }\n\nif (!out || !out.accion) {\n  return [{ json: { persist: {\n    reporter_hash: ctx.hash,\n    reply: '😕 Se me complicó procesar tu mensaje. Probá de nuevo en unos segundos, o entregá la tarjeta en papel como siempre.',\n  } } }];\n}\n\n// --- fusionar datos: lo previo + lo nuevo (lo nuevo pisa) ---\nconst datos = { ...(ctx.datosPrevios || {}), ...(out.datos || {}) };\n\n// normalizaciones defensivas\ndatos.tipo = ['inseguro', 'seguro', 'no_audita'].includes(datos.tipo) ? datos.tipo : 'inseguro';\ndatos.severidad = Math.min(4, Math.max(1, Number(datos.severidad) || 1));\nconst cat = Number(datos.categoria);\ndatos.categoria = cat >= 1 && cat <= 11 ? cat : null;\nconst np = Number(datos.num_personas);\ndatos.num_personas = Number.isFinite(np) && np > 0 ? Math.round(np) : null;\n// prioridad determinística (no se delega al LLM)\ndatos.prioridad = datos.tipo === 'seguro' ? 'verde'\n  : datos.severidad >= 3 ? 'rojo'\n  : datos.severidad === 2 ? 'amarillo' : 'verde';\n\n// metadata de Twilio\nif (ctx.twilioTimestamp) datos.timestamp_mensaje = ctx.twilioTimestamp;\nif (ctx.latitud != null) datos.latitud = ctx.latitud;\nif (ctx.longitud != null) datos.longitud = ctx.longitud;\n\n// --- actualizar historial de la conversación ---\nconst historial = Array.isArray(ctx.historial) ? [...ctx.historial] : [];\nhistorial.push({ role: 'user', content: ctx.text || '' });\nhistorial.push({ role: 'assistant', content: out.mensaje || '' });\n// acotar historial para no crecer indefinidamente\nwhile (historial.length > 12) historial.shift();\n\nlet reply, session, flag = null;\n\nif (out.accion === 'rechazar') {\n  // contenido no válido: cerrar sesión, registrar el strike y avisar según reincidencia.\n  // {{AVISO_RECHAZO}} se resuelve DESPUÉS de persistir, cuando la API devuelve el contador\n  // (2º rechazo: advertencia; 3º: pausa de 30 min con hora). Nunca silencio.\n  reply = (out.mensaje ||\n    '😊 Esto no parece una observación de seguridad. Si necesitás ayuda, hablá con tu supervisor de HSE.') +\n    '{{AVISO_RECHAZO}}';\n  session = null;\n  flag = { razon: 'contenido_dudoso' };\n} else if (out.accion === 'confirmar') {\n  // tenemos lo esencial: armar resumen determinístico y pedir OK\n  // red de seguridad: nunca confirmar \"sin categoría\"\n  if (!datos.categoria) datos.categoria = 11; // Otros\n  // defaults acordados: nunca más blancos mudos en el export\n  const tz = $env.GENERIC_TIMEZONE || 'America/Argentina/Buenos_Aires';\n  const ahoraLocal = new Date().toLocaleString('sv-SE', { timeZone: tz }).slice(0, 16); // YYYY-MM-DD HH:MM\n  if (!datos.fecha_obs || /^ahora$/i.test(String(datos.fecha_obs).trim())) datos.fecha_obs = ahoraLocal;\n  if (!datos.servicio_obra) datos.servicio_obra = 'No indicado';\n  if (!datos.acciones_correctivas) datos.acciones_correctivas = 'Sin acciones en el momento';\n  const PERSONAL = { propio: 'propio', contratista: 'contratista' };\n  const lineas = [\n    '📋 *Resumen de tu observación*',\n    `📅 Fecha: ${datos.fecha_obs}`,\n    `📍 Lugar: ${datos.lugar || '(sin especificar)'}`,\n    `🏗 Servicio/Obra: ${datos.servicio_obra}`,\n    `🏷 Tipo: ${TIPO[datos.tipo]}`,\n    datos.categoria ? `📂 Categoría: ${datos.categoria} · ${CATEGORIAS[datos.categoria]}${datos.subitem ? ` (${datos.subitem})` : ''}` : null,\n    datos.num_personas ? `👥 Personas: ${datos.num_personas}${PERSONAL[datos.personal] ? ` (${PERSONAL[datos.personal]})` : ''}` : null,\n    `📝 ${datos.observacion || '(sin descripción)'}`,\n    `🛠 Acción inmediata: ${datos.acciones_correctivas}`,\n    `🚦 Prioridad: ${SEMAFORO[datos.prioridad]}`,\n    '',\n    'Respondé *OK* para confirmar, o escribí lo que haya que corregir.',\n  ].filter((l) => l !== null);\n  reply = lineas.join('\\n');\n  session = { estado_flujo: 'awaiting_confirm', datos: { ...datos, _historial: historial } };\n} else {\n  // preguntar: seguimos recolectando\n  reply = out.mensaje || '¿Me contás un poco más?';\n  session = { estado_flujo: 'awaiting_orchestrator', datos: { ...datos, _historial: historial } };\n}\n\n// eco de la transcripción: el operario ve qué se entendió y puede corregir antes del OK\nif (ctx.transcripcion) {\n  const t = ctx.transcripcion.length > 250 ? ctx.transcripcion.slice(0, 250) + '…' : ctx.transcripcion;\n  reply = `🎙️ Escuché: «${t}»\\n\\n${reply}`;\n}\n\nconst persist = { reporter_hash: ctx.hash, session, reply };\nif (flag) persist.flag = flag;\nreturn [{ json: { persist } }];"
      }
    },
    {
      "id": "nodo-21",
      "name": "Finalizar observación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        520
      ],
      "parameters": {
        "jsCode": "// Nodo \"Finalizar observación\": el operador confirmó el resumen.\n// El borrador de la sesión se convierte en observación definitiva (la API devuelve el folio).\nconst ctx = $input.first().json;\nconst datos = { ...((ctx.session && ctx.session.datos) || {}) };\ndelete datos._historial; // el historial de chat no se persiste en la observación\n\n// Red de seguridad (cubre también el flujo foto, que no pasa por el orquestador):\n// nunca guardar fecha ni servicio en blanco.\nconst tz = $env.GENERIC_TIMEZONE || 'America/Argentina/Buenos_Aires';\nconst ahoraLocal = new Date().toLocaleString('sv-SE', { timeZone: tz }).slice(0, 16);\nif (!datos.fecha_obs || /^ahora$/i.test(String(datos.fecha_obs).trim())) datos.fecha_obs = ahoraLocal;\nif (!datos.servicio_obra) datos.servicio_obra = 'No indicado';\n\nreturn [{ json: { persist: {\n  reporter_hash: ctx.hash,\n  observacion: { ...datos, canal: 'whatsapp', raw_llm_json: JSON.stringify(datos) },\n  // la API abre la ventana de adjuntos con el folio recién asignado (10 min)\n  session: 'awaiting_photos',\n  reply: '✅ ¡Listo! Tu observación quedó registrada con el folio *{{FOLIO}}*.\\n\\n' +\n    '📎 Si tenés *fotos de lo observado* (el equipo, el lugar, la tarjeta), mandámelas ahora y las adjunto al reporte.\\n\\n' +\n    'El equipo de HSE ya la puede ver en el tablero. Gracias por sumar a la seguridad de todos. 👷‍♂️',\n} } }];"
      }
    },
    {
      "id": "nodo-22",
      "name": "Persistir",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1850,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/api/bot/persist",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.persist) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "nodo-23",
      "name": "Armar respuesta saliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        300
      ],
      "parameters": {
        "jsCode": "// Nodo \"Armar respuesta saliente\": el webhook ya devolvió un ACK vacío a Twilio\n// (así jamás hay silencio por timeout); acá se arma el mensaje real que sale por\n// la API REST. Resuelve los placeholders {{FOLIO}} y {{AVISO_RECHAZO}} con lo que\n// devolvió la persistencia.\nconst r = $input.first().json;             // respuesta de \"Persistir\"\nconst ctx = $('Preparar contexto').first().json;\n\nlet texto = r.reply || '🙏 ¡Gracias! Recibimos tu mensaje.';\nif (r.folio) texto = texto.split('{{FOLIO}}').join(r.folio);\n\n// aviso progresivo de rechazo: nada (1º) → advertencia (2º) → pausa informada (3º)\nlet aviso = '';\nif (r.flag) {\n  const tz = $env.GENERIC_TIMEZONE || 'America/Argentina/Buenos_Aires';\n  if (r.flag.bloqueado) {\n    const hora = r.flag.desbloqueado_en\n      ? new Date(String(r.flag.desbloqueado_en).replace(' ', 'T') + 'Z')\n          .toLocaleTimeString('es-AR', { timeZone: tz, hour: '2-digit', minute: '2-digit', hour12: false })\n      : '';\n    aviso = `\\n\\n🚫 *Pausé la recepción de tus reportes${hora ? ` hasta las ${hora}` : ' por 30 minutos'}*: los últimos mensajes no parecen observaciones de seguridad. El canal funciona bien — después de esa hora podés volver a reportar. Si esto es un error, hablá con tu supervisor de HSE.`;\n  } else if (r.flag.rechazos >= 2) {\n    aviso = '\\n\\n⚠️ Ojo: si el próximo mensaje tampoco es una observación de seguridad real, voy a pausar tus reportes por 30 minutos.';\n  }\n}\ntexto = texto.split('{{AVISO_RECHAZO}}').join(aviso);\n\nreturn [{ json: {\n  to: ctx.to,               // el número del operario, solo en tránsito — no se persiste\n  fromBot: ctx.fromBot,     // el número del sandbox/bot\n  auth: ctx.twilioAuth,\n  texto,\n} }];"
      }
    },
    {
      "id": "nodo-24",
      "name": "Enviar por WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2250,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_SID }}/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.auth }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $json.fromBot }}"
            },
            {
              "name": "To",
              "value": "={{ $json.to }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.texto }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    }
  ],
  "connections": {
    "Webhook Twilio": {
      "main": [
        [
          {
            "node": "ACK a Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACK a Twilio": {
      "main": [
        [
          {
            "node": "Preparar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar contexto": {
      "main": [
        [
          {
            "node": "Traer sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer sesión": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Switch Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Acción": {
      "main": [
        [
          {
            "node": "Descargar foto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalizar observación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar adjunto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje bloqueado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Orquestador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje bloqueado": {
      "main": [
        [
          {
            "node": "Persistir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar adjunto": {
      "main": [
        [
          {
            "node": "Adjuntar foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjuntar foto": {
      "main": [
        [
          {
            "node": "Persistir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar foto": {
      "main": [
        [
          {
            "node": "Foto a base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Foto a base64": {
      "main": [
        [
          {
            "node": "LLM visión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM visión": {
      "main": [
        [
          {
            "node": "Armar respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar audio": {
      "main": [
        [
          {
            "node": "Transcribir audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir audio": {
      "main": [
        [
          {
            "node": "Procesar transcripción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar transcripción": {
      "main": [
        [
          {
            "node": "¿Se entendió?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Se entendió?": {
      "main": [
        [
          {
            "node": "Orquestador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Persistir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orquestador": {
      "main": [
        [
          {
            "node": "LLM orquestador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM orquestador": {
      "main": [
        [
          {
            "node": "Procesar orquestador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar orquestador": {
      "main": [
        [
          {
            "node": "Persistir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar respuesta": {
      "main": [
        [
          {
            "node": "Persistir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalizar observación": {
      "main": [
        [
          {
            "node": "Persistir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistir": {
      "main": [
        [
          {
            "node": "Armar respuesta saliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar respuesta saliente": {
      "main": [
        [
          {
            "node": "Enviar por WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}
